# fly.toml app configuration file generated
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.

app = "gomonovia"
primary_region = "cdg"

[build]
builder = "paketobuildpacks"
buildpacks = ["gcr.io/buildpacks/nodejs"]

[env]
NODE_ENV = "production"

[http_service]
internal_port = 3000
force_https = true
auto_stop_machines = true
auto_start_machines = true

[[vm]]
cpu_kind = "shared"
cpus = 1
memory_mb = 256

[processes]
app = "node dist/server/production.mjs"
